.wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
/* NAVIGATION STYLES START */
a{
    text-decoration: none;
}
a:link{
    color: red;
}
a:visited{
    color: red;
}

.menu{
    
    width: 620px;
    height: 15px;
    text-align: center;
    margin: 0 auto;
}
ul.menu__hor > li{
    float: left;
    margin: 26px;
    width: auto;
    font-family: 'Montserrat';
    font-weight: 700;
    height: 27px;
    font-size: 18px;    
}

/* NAVIGATION STYLES END */

/* BACKGROUND START  */
.background{
    width: 1280px;
    margin: 0 auto;
}
.background__img{
    width: 100%;
    height: 789px;
}
/* BACKGROUND END  */

/* TEXT START  */
.text{
    width: 1145px;
    text-align: center;
    margin: 0 auto;
}
.text__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 48px;
    margin-bottom: 38px;
}
.text__description__one{
    width: 1145px;
    height: 132px;
    left: 67px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;

}
.text__description__two{
    height: 216px;
}
/* TEXT END  */

/* BUTTON START */
.button{
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    border: 0px;
    background: #FF0000;
    border-radius: 4px;
    margin-top: 38px;
    margin-bottom: 82px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* BUTTON END  */


/* FOOTER START  */
.footer{
    width: 462px;
    height: 39px;
    margin-left: 713px;
    margin-bottom: 29px;
    
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;

    color: #373737;
}
/* FOOTER END  */