.wrapper{
    max-width: 1366px;
    width: 100%;
    height: 768px;
    margin: 0 auto;
    background-image: url(../img/background\ 1.png);
}

/* HEADER START */
.header{
    display: flex;
    justify-content: space-between;
    width: 1028px;
    height: 61px;
    margin: 0 auto;
    padding-top: 46px;
    /* background: lightblue; */
    
}
.header_link{
    text-decoration: none;
}
.header_logo{
    display: flex;
    /* background: lightgreen; */
    margin-top: 5px;

}
.header_logo:hover .header_logo_title {
    color: #F26522;
}
.header_logo:hover .header_logo_img_orange{
    display: block;
}
.header_logo:hover .header_logo_img_white{
    display: none;
}

.header_logo_img{
    position: relative;
    

}
.header_logo_img_orange{
    display: none;
}
.header_logo_title{
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    color: white;
    margin-left: 8px;
    box-sizing: border-box;


}
.header_logo_title_big{
    font-weight: 700;
    font-size: 29px;
    line-height: 31px;
}
.header_logo_title_small{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

}
.header_contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.header_contacts_mail, .header_contacts_number{
    text-decoration: none;
    color: white;
}
.header_contacts_mail:hover{
    color: #F26522;
}
.header_contacts_number:hover{
    color: #F26522;
}
/* HEADER END */

/* SECTION CONTENT START */
.content_block_link{
    display: block;
    text-decoration: none;
}
.content{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 261px);
    grid-column-gap: 61px;
    grid-row-gap: 37px;
    justify-content: space-between;
    width: 1030px;
    margin: 0 auto;
    margin-top: 17px;
    /* background: lightcoral; */
}

.content_block{
    /* width: 300px; */
    /* height: 261px; */
    position: relative;
    /* background: lightseagreen; */
}
    
.content_block_img{
    height: 220px;
    /* background: lightgreen; */
}
.content_block_img_orange{
    width: 300px;
    height: 55px;
    background: #F26522;
    position: absolute;
    bottom: 37px;
    visibility: hidden;
    top: 165px;;
    left: 0;
}
.content_block_img_orange_from{
    margin-top: 7px;
    margin-left: 17px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;

}
.content_block_img_orange_description{
    display: flex;
    margin-top: 8px;
    margin-left: 16px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;

}
.content_block_img_orange_details{
    margin-left: 128px;
    font-size: 14px;
}
.content_block_img_orange_details::after{
    content:url(../logo/Vector\ 1.svg);
    padding-left: 16px;
}

.content_block_title{
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;

}
.content_block_link:hover .content_block_title{
    color: #F26522;
}
.content_block_link:hover .content_block_img_orange{
    /* display: block; */
    visibility: visible;
    

}
/* SECTION CONTENT END */

/* FOOTER START */
.footer{
    width: 306px;
    height: 21px;
    margin: 0 auto;
    margin-top: 48px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}
/* FOOTER END */
