.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    /* background: rgb(242, 243, 174); */
}
/* HRADER START  */
.header{
    padding-top: 63px;
}

.header__logo{
    text-decoration: none;
    font-family: 'Roboto';
    color: black;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;

}
.header__logo__blue{
    color: #4BCAFF;

}

.header__menu{
    font-family: 'Roboto';
    font-size: 24px;
    display: flex;
    background: #35444F;
    justify-content:center;
    margin-top: 40px;

}

.header__menu__list{
    border-left: 1px solid white;
    height: 72px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    padding: 24px 40px 18px 40px;
}
.header__menu__list:hover{
    background: #222F3A;
}
.header__menu__list-4{
    border-right: 1px solid white;
}

/* HEADER END  */

/* SECTION START  */
.section{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.left__menu{
    font-family: 'Roboto';
    font-size: 27px;
    
    box-sizing: border-box;
    width: 344px;
    height:max-content;
    /* background: #4BCAFF; */
    border: 1px solid #485863;
}
.left__menu__list{
    height: 78px;
    box-sizing: border-box;
    padding-left: 44px;
    padding-top: 26px;
    color: #485863;
}
.left__menu__list:hover{
    background: #DBDBDB;
    color: black;
    padding-left: 65px;
}
.content{
    display:flex;
    flex-direction: column;
    /* background: #4BCAFF; */
    width: 885px;
    align-items: center;
    
    
}
.content__img{
    border: 1px solid #485863;
    box-sizing: border-box;
    height: 529px;
    width: 100%;
    text-align: center;
    padding-top: 74px;
    margin-bottom: 37px;


}

.content__img:hover img{
    transition: 2s;
    transform: scale(1.2);
}
.content__text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.content__text-1{
    margin-bottom: 34px;
}
/* SECTION END  */


/* FOOTER START  */
.footer{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 51px;
    margin-bottom: 30px;

}

.footer__menu{
    display: flex;
    font-family: 'Roboto';
    font-size: 28px;
    color: #0C1927;

}
.footer__menu__list{
    padding-top: 20px;
    padding-left: 40px;
}
.footer__menu__list:hover{
    color: #3181A6;
    text-decoration: underline;
}
.footer__copyright{
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 24px; 
    color: #010101;
    padding-top: 22px;
    padding-right: 40px;
}

/* FOOTER END */