.wrapper{
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER START */

.header{
    display: flex;
    justify-content: space-between;
    background: #313131;
    height: 70px;
}
.header-title{
    display: flex;
    align-items: center;

}
.header-title__logo{
    margin-left: 29px;
    margin-right: 27px;
}
.header-title__name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    /* margin-top: 22px; */

}
.header-navigation{
    padding-top: 25px;
    width: 722px;
    
}
.header-navigation__list{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF; 

}
.header-navigation__list__item:hover{
    color: #14B9D5;
    cursor: pointer;

}

.header-search{
    /* width: 68px; */
    background: #000000;
    text-align: center;
}
.header-search__img{
    padding: 27px 25px 26px 26px;
}
/* HEADER END */

/* SECTION NEWS START */

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(../img/header-bg.jpeg);
    background-position: center;
    background-size:100%;
    background-attachment: fixed;
    height: 369px;
}
.news-title{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin-top: 164px;
    margin-bottom: 44px;

}
.news-button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.news-button__subscribe{
    background-color: #89CA62;
    width: 170px;
    height: 55px;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
}
.news-button__articles{
    background-color: #14B9D5;
    width: 170px;
    height: 55px;
    border-radius: 5px;
    border: none;
}
/* SECTION NEWS END */

/* SECTION POPULAR START  */
.popular{
    background: #F2F2F2;
    height: 1030px;
}
.popular-title{ 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;

}
.popular-posts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.popular-posts__title{
    width: 370px;
    height: 61px;
    box-sizing: border-box;
    background: white;
    text-align: center;
    margin-bottom: 28px;
    margin-right: 30px;
    padding-top: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.popular-posts__img{
    margin: 0 auto;
}
/* SECTION POPULAR END */

/* SECTION CLIENTS START */

.clients{
    background: url(../img/Layer\ 4\ 1.png);
    background-size: cover;
    background-attachment: fixed;

    height: 588px;
}
.clients-title{
    text-align: center;
    padding-top: 106px;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;

}
.clients-blueline{
    margin-left: auto;
    margin-right: auto;
    margin-top: 87px;
    width: 60px;
    height: 3px;
    background: #18B4CF;
}
.clients-name{
    margin-top: 106px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    justify-content: center;
    grid-column-gap: 58px;
}


/* SECTION CLIENTS END */

/* SECTION RATED START  */

.rated-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;
}
.rated-places{
    display: grid;
    grid-template-columns: repeat(7, 271px);
    grid-template-rows: 190px;
}

/* SECTION RATED END */

/* SECTION HOT NEWS START  */
.hot_news-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;

}
.hot_news-block-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-top: 14px;
}
.hot_news-block-description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding-top: 14px;

}
.hot_news-block-1{
    display: grid;
    grid-template-columns: 857px 277px;
    /* background: #14B9D5; */
    justify-content: center;
    grid-column-gap: 35px;
    margin-bottom: 44px;
}
.hot_news-block-1_1 , .hot_news-block-2_1, .hot_news-block-2_2, .hot_news-block-2_3, .hot_news-block-2_4, .hot_news-block-3_2 {
    background : #F9F7F7;;
    text-align: right;
    padding-right: 24px;
}
.hot_news-block-1_2,.hot_news-block-3_1 {
    background: #F9F7F7;;
    text-align: center;
}

.hot_news-block-2{
    display: grid;
    grid-template-columns: 554px 554px;
    grid-template-rows: 418px;
    /* background: #14B9D5; */
    justify-content: center;
    grid-column-gap: 60px;
    grid-row-gap: 44px;
    margin-bottom: 44px;
}
.hot_news-block-3{
    display: grid;
    grid-template-columns: 277px 857px ;
    /* background: #14B9D5; */
    justify-content: center;
    grid-column-gap: 35px;
    margin-bottom: 44px;
}
/* SECTION HOT NEWS END  */

/* FOOTER START  */

.footer{
    height: 80px;
    background: #000000;
    display: grid;
    grid-template-columns: 540px 105px;
    align-items: center;
    justify-content: center;
    grid-column-gap: 558px;
    margin-top: 77px;


}
.footer-description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
}

/* FOOTER END */